* {
    box-sizing: border-box;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.container {
    max-width: 1750px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
}
.header_container {
    background-color: #3a4750;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.nav_logo {
    padding-top: 10px;
}
.nav_list {
    display: flex;
    margin: auto;
    font-size: 18px;
    line-height: 1;
}
.nav_link {
    color: #eeeeee;
}
.nav_link:hover {
    text-decoration: underline 2px #eeeeee;
}
.nav_link:active {
    color: #eeeeee;
    text-decoration: underline 2px #eeeeee;
}
.nav_item:not(:last-child) {
    margin-right: 85px;
}

.section_home {
    margin-bottom: 500px;
    height: 570px;
}
.container_section_home {
    padding-top: 200px;
}
.hi1 {
    font-size: 2rem;
    color: #eeeeee;
}
.hi2 {
    font-size: 5rem;
    margin: 0;
    padding: 0;
    color: #eeeeee;
    padding-bottom: 0.5rem;
}
.typewrite {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 100;
    font-size: 2rem;
    color:#d72323;
}


.over-vert {
    display: flex;
}
.navbarvertical {
    display: flex;
    bottom: 0;
    flex-direction: column-reverse;
    position: fixed;
    margin-bottom: 3rem;
    margin-left: 80px;
    align-items: center;
}
.vertical_icon {
    height: 2rem;
}
.vertical_icon:hover {
    transform: scale(1.3);
}
.vertical_icon:last-child {
    margin-bottom: 0.7rem;
}
.verticalline {
    bottom: 0;
    border-left: 2px solid #eeeeee;
    height: 3rem;
    position: fixed;
    
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    list-style: none;
}
html {
    background-color: #303841;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.section_about {
    margin-bottom: 400px;
    height: 700px;
}
.title_header {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 4rem;
    color:#d72323;
}
.container_info {
    display: flex;
    align-items: center;
}
.container_text {
    width: 40rem;
}
.ava_container {
    padding-left: 200px;
}
.ava {
    border: 2px solid #d10909;
    border-radius: 100%;
    width: 40%;
    height: 40%;
}

.about-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #eeeeee;
}
.about-text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #eeeeee;
    background-image: linear-gradient(1deg, #d72323 5%, transparent 20%);
}
.section_projects {
    margin-bottom: 400px;
    height: 800px;
}

.container_section_projects {
    display: flex;
    justify-content: center;
    padding: 0;
}

.project_block {
    background-color: #eeeeee;
    width: 300px;
    height: 300px;
    border: 2px solid #d72323;
}
.project_block:last-child {
    margin: 20px;
}
.project_content {
    display: flex;
    justify-content: center;
    color: #d72323;
    font-size: 30px;
    font-weight: 400;
}

.project_link:hover {
    background-color: #d72323;
    cursor: pointer;
    border: 2px solid #eeeeee;
}

.section_contacts {
    margin-bottom: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_header_contacts {
    padding-bottom: 80px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 4rem;
    color:#eeeeee;
    text-align: center;
}

.section_footer {
    display: flex;
    justify-content: center;
    text-align: center;
}


.footer_text {
    font-size: 0.8rem;
    color: #eeeeee;
}


i {
    margin-right: 3px;
}

.form-box {
    background-color: #eeeeee;
    box-shadow: 0 0 10px rgba(70, 67, 90, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 500px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.radio-group {
    display: flex;
    margin-bottom: 16px;
}

input[type="radio"] {
    margin-right: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    color: #000000;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 10px;

}

button {
    background-color: #d72323;
    color: #eeeeee;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    transition: .2s linear;
}

button:hover {
    background-color: #d72323;
    border: none;
    transform: translateY(-5px);
}
